<?xml version="1.0"?>
<!--
/**
 * Search Improvements Module
 *
 * @author    Peter McWilliams <pmcwilliams@augustash.com>
 * @copyright Copyright (c) 2021 August Ash (https://www.augustash.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Elasticsearch\SearchAdapter\ResponseFactory">
        <plugin name="augustash_elasticsearch_queryresults" type="Augustash\BetterSearch\Plugin\DebugQueryResults" disabled="false" sortOrder="10"/>
    </type>

    <type name="Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Mapper">
        <plugin name="augustash_elasticsearch_minimumscore" type="Augustash\BetterSearch\Plugin\SearchAdapterMinimumScore" disabled="false" sortOrder="10"/>
    </type>
</config>
